.models-list {
    display: flex;
    flex-direction: column;
    gap: 18px;

    .model-card {
        max-width: 300px;

        mat-card-content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            img.model-image {
                width: 80px;
            }
        }
    }
}