<div class="models-list">
    @for (model of models; track $index) {
    <mat-card class="model-card" (click)="onClick(model)">
        <mat-card-header>
            <mat-card-subtitle>{{model.date | date:'fullDate':'':'fr-FR' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <img class="model-image" src="assets/png/{{model.modelName}}.png" alt="{{model.modelName}}">
            <h3>{{model.name}}</h3>
        </mat-card-content>
    </mat-card>
    }
</div>