.model-detail-card {
    width: 100%;

    .label {
        font-weight: 900;
    }

    img {
        max-width: 500px;
        margin: 0 auto;
    }

    mat-card-actions {
        display: flex;
        gap: 1rem;
    }
}